.circle-item {
    margin: 0 10px; /* Jarak antar lingkaran */
    min-width: 80px; /* Pastikan lebar tetap */
    text-align: center;
  }

  #circle-slider {
    overflow: hidden;
    flex: 1;
  }

  #circle-slider .d-flex {
    gap: 10px; /* Jarak antar elemen */
  }

  #left-arrow, #right-arrow {
    font-size: 10px; /* Ukuran panah lebih besar */
    width: 50px; /* Lebar tombol */
    height: 50px; /* Tinggi tombol */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(192, 192, 192); /* Warna tombol */
    border: none; /* Hilangkan border */
    border-radius: 50%; /* Membuat tombol bulat */
    color: white; /* Warna teks putih */
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan */
  }

  #left-arrow:hover, #right-arrow:hover {
    background-color: #495057; /* Warna tombol saat hover */
  }
  