/* Header dengan gradasi transparan */
.navbar {
background: linear-gradient(to bottom, rgb(8, 12, 56), rgba(8, 12, 56, 0.315)); /* Gradasi dari hitam pekat ke transparan */
backdrop-filter: blur(200px); 
transition: all 0.3s ease-in-out;
position: absolute;
}

/* Warna teks untuk navbar */
.navbar .navbar-brand,
.navbar .nav-link {
color: rgb(8, 12, 56); /* warna teks header */
}

.navbar .navbar-brand:hover,
.navbar .nav-link:hover {
color:rgb(8, 12, 56); /* warna hover */
}

/* Responsivitas tombol toggler */
.navbar-toggler {
border-color: rgb(255, 255, 255); /* Warna garis toggler */
}